.app-wrapper {
  display: grid;
  width: 1500px;
  margin: 0 auto;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
  background-color: rgb(247, 175, 231);
}

.header img {
  width: 60px;
  height: 60px;
}

.nav {
  grid-area: n;
  background-color: rgb(153, 241, 162);
}

.content {
  grid-area: c;
  background-color: rgb(160, 215, 237);
}

.content img {
  width: 300x;
  height: 300px;
}